@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.card {
    background: linear-gradient(to right, #f3eaff, #dac0ff);
    padding: 10px;
}

.cardhead {
    color: #690cb0;
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}

.clock {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.testcard {
    background-color: #f2ebfe;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #9aa5b1;
}

.quote {
    color: #323f4b;
    font-size: 15px;
}

.subbutton {
    background-color: #690cb0;
    color: white;
    margin: 10px;
}

.resbutton {
    background-color: white;
    margin: 10px;
}